<div class="container">
<div class="component "[formGroup]="form" >
<h2>{{component.key | translate}}</h2>   



  <form   [formGroup]="form">
    <div *ngFor="let element of elements" class="form-row">
      <app-dynamic-group-form [field]="element" [form]="form"></app-dynamic-group-form>
    </div>

  <div class="btn-group">
    <button *ngFor="let action of actions"   (click)="onSubmit(action.key)"
      class="btn btn-default" [class.btn-primary]="isCurrentAction(action.key)"     [disabled]="!form.valid">
      {{action.label | translate}}
    </button>
  </div>

    
  </form>
  
  
  <div *ngIf="payLoad" class="form-row">
    <strong>Handle the following values</strong><br>{{payLoad}}
  </div>
    </div>
    </div>
   
    
  