<div [formGroup]="form" >
  <label [attr.for]="field.key">{{field.label}}</label>
  <div [ngSwitch]="field.controlType">
    <input *ngSwitchCase="'textbox'" [formControlName]="field.key" [id]="field.key" [type]="field.controlType" class="form-control">
    <select [id]="field.key" *ngSwitchCase="'dropdown'"[formControlName]="field.key" class="form-control">
      <option *ngFor="let opt of field.options"  [value]="opt.key" class="form-control">{{opt.value}} </option>
    </select>    
    <input *ngSwitchCase="'date'" [id]="field.key"  [type]="field.controlType" class="form-control" [formControlName]="field.key" >
    <input *ngSwitchCase="'integer'" [id]="field.key"  [type]="field.controlType" class="form-control" [formControlName]="field.key">
  </div> 

  <div *ngFor="let validation of validations" class="form-row">
	<div *ngIf="form.controls[field.key].hasError(validation.key)" class="alert alert-danger">{{field.label}}  {{validation.message}}</div>
  </div>
</div>